.header .header__nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.078);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  justify-content: space-between;
  align-items: center;
  padding: 23px 70px;
  z-index: 10;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header .header__nav .header__nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.header .header__nav .header__right {
  display: flex;
  gap: 56px;
}
.header .header__nav .header__right .header__list {
  display: flex;
  gap: 56px;
  font-size: 18px;
  align-items: center;
}
.header .header__nav .header__right .header__list .header__item .header__link {
  color: white;
}
.header .header__nav .header__right .header__action {
  display: flex;
  gap: 16px;
}
.header .header__nav .header__right .header__action .header__btn {
  padding: 17px 36px;
  border-radius: 16px;
  background-color: #A259FF;
  color: white;
  border: none;
  cursor: pointer;
}
.header .header__nav .header__right .header__action .header__btn:hover {
  background-color: crimson;
}
.header .header__nav .header__right .header__action .header__btn i {
  margin-right: 5px;
}
.header .header__nav .header__right .header__action .toggle {
  display: none;
  width: 50px;
  height: 44px;
  border-radius: 30px;
  color: black;
  border: none;
  cursor: pointer;
}

@media (max-width: 984px) {
  .header .header__nav .header__right .header__list {
    display: none;
  }
  .header .header__nav .header__right .header__action .header__btn {
    display: none;
  }
  .header .header__nav .header__right .header__action .toggle {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: #2B2B2B;
}

.header__shrink {
  box-shadow: 0px 0px 20px black;
}

.hero {
  width: 100%;
  display: flex;
  padding: 180px 130px;
  justify-content: space-around;
}
.hero .hero__title {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 120px;
}
.hero .hero__title .hero__title__info {
  font-size: 60px;
  width: 68%;
}
.hero .hero__title .hero__title__description {
  font-size: 23px;
  width: 463px;
}
.hero .hero__title .hero__title__prices {
  display: flex;
  gap: 120px;
  font-size: 23px;
}
.hero .hero__title .hero__btn {
  width: 34%;
  padding: 0px 5px;
  height: 44px;
  border: none;
  border-radius: 10px;
  background-color: #A259FF;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero .hero__title .hero__btn:hover {
  background-color: crimson;
}
.hero .hero__post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  width: 40%;
  padding-bottom: 10px;
  background-color: #3B3B3B;
  border-radius: 20px;
}
.hero .hero__post .hero__post__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 30px;
}
.hero .hero__post .hero__post__info .hero__post__name {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 834px) {
  .hero .hero__title {
    gap: 12px;
  }
  .hero .hero__title .hero__title__info {
    font-size: 30px;
    width: 250px;
  }
  .hero .hero__title .hero__title__description {
    font-size: 20px;
    width: 250px;
  }
  .hero .hero__title .hero__btn {
    width: 120px;
  }
  .hero .hero__title .hero__title__prices {
    font-size: 20px;
    gap: 33px;
  }
  .hero .hero__post {
    margin-left: 30px;
    width: 50%;
    height: 100%;
  }
}
@media (max-width: 375px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero .hero__title {
    gap: 8px;
  }
  .hero .hero__title .hero__title__info {
    font-size: 23px;
    width: 250px;
  }
  .hero .hero__title .hero__title__description {
    font-size: 16px;
    width: 250px;
  }
  .hero .hero__title .hero__btn {
    width: 120px;
    display: none;
  }
  .hero .hero__title .hero__title__prices {
    font-size: 20px;
    gap: 33px;
    display: none;
  }
  .hero .hero__post {
    display: flex;
    margin-top: 30px;
    width: 280%;
    height: 100%;
    justify-content: center;
  }
  .hero .hero__title__prices {
    display: flex;
    gap: 30px;
    color: white;
    font-size: 22px;
  }
  .hero .hero__btn {
    width: 290%;
    border-radius: 10px;
  }
}
.collection {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  padding: 0px 120px;
}
.collection .collection__info {
  font-size: 56px;
}
.collection .collection__description {
  font-size: 30px;
}
.collection .collection__cards {
  margin-top: 38px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.collection .collection__cards .collection__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.collection .collection__cards .collection__card .collection__card__imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.collection .collection__cards .collection__card .collection__card__name {
  display: flex;
  align-items: center;
  gap: 6px;
}
.collection .collection__cards .collection__card2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.collection .collection__cards .collection__card2 .collection__card__imgs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.collection .collection__cards .collection__card2 .collection__card__name {
  display: flex;
  align-items: center;
  gap: 6px;
}
.collection .collection__cards .collection__card3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.collection .collection__cards .collection__card3 .collection__card__imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.collection .collection__cards .collection__card3 .collection__card__name {
  display: flex;
  align-items: center;
  gap: 6px;
}
.collection .collection__card__imgs img {
  width: 31%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 836px) {
  .collection .collection__cards .collection__card3 {
    display: none;
    width: 50%;
  }
  .collection .collection__cards {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .collection .collection__cards .collection__card__imgs {
    width: 10px;
  }
  .collection .collection__cards .collection__card {
    width: 48%;
  }
  .collection .collection__cards .collection__card2 {
    width: 48%;
  }
}
@media (max-width: 375px) {
  .collection .collection__cards .collection__card3 {
    display: none;
    width: 50%;
  }
  .collection .collection__cards .collection__card2 {
    display: none;
    width: 50%;
  }
  .collection .collection__cards .collection__card {
    width: 100%;
  }
}
.creators {
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  color: white;
}
.creators .creators__discription {
  display: flex;
  justify-content: space-between;
}
.creators .creators__discription .creators__title h1 {
  font-size: 64px;
}
.creators .creators__discription .creators__title p {
  font-size: 33px;
}
.creators .creators__discription .creators__btn {
  width: 180px;
  height: 50px;
  color: white;
  background: none;
  border: 2px solid #A259FF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  margin-top: 67px;
}
.creators .creators__discription .creators__btn:hover {
  color: #A259FF;
  border-color: aliceblue;
}
.creators .creators__cards {
  width: 100%;
  padding: 120px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 33px;
}
.creators .creators__card, .creators .creators__card__hid {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #3B3B3B;
  border-radius: 10px;
  padding: 38px 0px;
  position: relative;
}
.creators .creators__card img, .creators .creators__card__hid img {
  width: 50%;
}
.creators .creators__cards__number {
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  background-color: rgba(255, 255, 255, 0.188);
  padding: 10px 15px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 836px) {
  .creators .creators__cards .creators__card, .creators__card__hid {
    height: 80px;
    width: 46%;
    flex-wrap: wrap;
    display: flex;
    padding: 4px;
    gap: 20px;
    font-size: 12px;
    font-weight: 600;
    align-items: start;
  }
  .creators .creators__cards .creators__card img, .creators__card__hid img {
    width: 30%;
  }
  .creators .creators__cards .creators__card__hid {
    display: none;
  }
}